.donate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
  padding-bottom: 100px;
  gap: 60px;
}
.d-img {
  position: relative;
  width: 250px;
  height: 400px;
  background-image: url('/donate.gif');
  background-size: cover;
  background-position: center;
}
.d-cnt {
  font-size: 17px;
  text-align: center;
  color: red;
}
.d-cnt h2 {
  font-weight: 800;
  font-size: 34px;
}

@media (max-width: 425px) {
  .donate {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
 .donate{
    gap: 10px;
 }
}
